// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  border-radius: 3px;
  background-color: lightblue;
  margin-left: 5px;
  height: 50px;
  width: 110px;
}
